.img-carousel {
    width: 100%; /* Asegura que las imágenes ocupen todo el ancho disponible */
    height: clamp(15rem, 50vh, 30rem); /* Ajusta la altura en función del viewport */
    object-fit: cover; /* Mantiene la proporción y llena el contenedor */
    object-position: center; /* Centra el contenido de las imágenes */
    border-radius: 8px; /* Opcional: agrega bordes redondeados */
}

.slick-next{
    border-radius: 50%;
    background-color: #282c34;
}

.slick-next:focus{
    border-radius: 50%;
    background-color: #282c34;
}

.slick-next:hover{
    border-radius: 50%;
    background-color: #282c34;
}

.slick-prev{
    border-radius: 50%;
    background-color: #282c34;
}

.slick-prev:hover{
    border-radius: 50%;
    background-color: #282c34;
}

.slick-prev:focus{
    border-radius: 50%;
    background-color: #282c34;
}

